/* .images{
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows:  80px 80px;
  grid-gap: 10px;
}

img {
  height: 80px;
  width: 80px;
}

img:hover{
  transform: scale(3);
  
} */