@import url('https://fonts.googleapis.com/css?family=Open+Sans');


html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;
  background-color: rgba(99, 196, 192, 0.7);
  overflow: hidden;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: lighter;
}

/* homepage */
.containerHP {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  align-items: center
}

.row1 {
  height: 30px;
  margin-top: 3vh;
}

svg {
  height: auto;
  width: 50vw;
}

.logo {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.githubLogo {
  height: 50px;
  width: 50px;
  padding: 5px;
  object-fit: contain;
  border-radius: none;
  transition: 700ms;
}

.facebookLogo {
  height: 50px;
  width: 50px;
  padding: 5px;
  object-fit: contain;
  border-radius: none;
  transition: 700ms;
}

.githubLogo:hover, .facebookLogo:hover {
  transform: scale(1.2);
  border: none
}

.mapPaths {
  fill: rgb(71,93,92);
  stroke: #ffffff ;
  stroke-linecap: round ;
  stroke-linejoin: round ;
  stroke-width: 0.5 ;
}

/* /regionsDetails */
.containerMap {
  height: 100vh;
  display: grid;
  overflow: visible;
}

.btn-go-back, .btn-add-marker {
  height: auto;
  width: auto;
  margin-bottom: auto;
  background-color: rgb(244, 237, 237);
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.btn-go-back:hover, .btn-add-marker:hover {
  background-color: rgb(186, 186, 186);
}

.btn-go-back {
  border-radius: 5px 0 0 5px;
}

.btn-add-marker {
  border-radius: 0 5px 5px 0;
}

/* Google map */
.googleMap {
  box-shadow: 0px 10px 7px 10px rgb(104, 170, 167);
  border: 5px solid rgb(34, 147, 94);
  border-radius: 20px;
}

/* infoWindow */
.markerName {
  grid-column: 1/4;
  grid-row: 1;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: medium;
  font-weight: lighter;
}

img {
  height: 80px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  overflow: visible;
}

img:hover {
  border: 2px solid rgb(34, 147, 94);
}

.imgWrapper {
  height: 240px;
  width: 260px;
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows:  40px 81px 81px;
  grid-gap: 5px;
  overflow: hidden;
  align-items: center;
}

/* ------------------------------------------------------------- */

/* row1 */
@media (max-width: 670px) { .row1 { margin-bottom: 10vh; } }

/* svg */
@media (min-width: 1125px) { svg { width: 50vw; } }
@media (max-width: 1125px) { svg { width: 60vw; } }
@media (max-width: 1050px) { svg { width: 65vw; } }
@media (max-width: 980px) { svg { width: 70vw; } }
@media (max-width: 870px) { svg { width: 80vw; } }

/* logo */
@media (max-width: 460px) { 
  .githubLogo, .facebookLogo { 
    height: 42px; 
    width: 42px;
  }
}

@media (max-width: 375px) { 
  .githubLogo, .facebookLogo { 
    height: 52px; 
    width: 52px;
  }
}

/* for screens smaller than width = 520px */
@media (max-width: 520px) {
  h1 {
    font-size: 1.3rem;
  }

  /* infoWindow */
  .imgWrapper {
    height: 295px;
    width: 170px;
    display: grid;
    grid-template-columns: 80px 80px;
    grid-template-rows:  40px 80px 80px 80px;
    grid-gap: 5px;
    overflow: hidden;
    align-items: center;
  }

  .markerName {
    grid-column: 1/3;
  }
}
/* for screens smaller than width = 380px */
@media (max-width: 370px) {
  html, body {
    height: 95vh;
    width: 100vw;
  }
  h1 {
    font-size: 1.3rem;
  }

  img {
    height: 80px;
    width: 80px;
    object-fit: fill;
    overflow: visible;
  }
  
  img:hover {
    border: 2px solid rgb(34, 147, 94);
  } 

  .imgWrapper {
    height: 200px;
    width: 100px;
    display: grid;
    grid-template-columns: 100px ;
    grid-template-rows:  60px 80px 80px 80px 80px 80px 80px;
    grid-gap: 5px;
    overflow: scroll;
    align-items: center;
  }

  .markerName {
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: medium;
    font-weight: lighter;
  }
}
