@import url('https://fonts.googleapis.com/css?family=Open+Sans');


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
  background-color: rgba(99, 196, 192, 0.7);
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: lighter;
}

/* homepage */
.containerHP{
  display: grid;
  grid-template-rows:  10vh 80vh;
  align-items: center;
}

.regionName{
  margin-top: 5vh;
}

svg {
  height:auto;
  width: 55% ;
  margin-top: 10vh;
}

.mapPaths {
  fill: rgb(71,93,92);
  stroke:"#ffffff" ;
  stroke-linecap:"round" ;
  stroke-linejoin:"round" ;
  stroke-width:"1" ;
}

.containerMap {
  height: 100vh;
  display: grid;
  align-content: space-between;
}

.btn-go-back, .btn-add-marker {
  height: auto;
  width: auto;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.btn-go-back:hover, .btn-add-marker:hover  {
  background-color:rgb(186, 186, 186);
}

.btn-go-back {
  border-radius: 5px 0 0 5px;
}

.btn-add-marker {
  border-radius: 0 5px 5px 0;
}

/* Google map */
.googleMap {
  box-shadow: 0px 10px 7px 10px rgb(104, 170, 167);
  border-radius: 25px;
  position: initial;
}
/* infoWindow */
img {
  height: 80px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  overflow: visible;
}

img:hover{
  border: 2px solid rgb(34, 147, 94);
}

.imgWrapper{
  height: 240px;
  width: 260px;
  display: grid;
  grid-template-columns: 81px 81px 81px;
  grid-template-rows:  40px 81px 81px;
  grid-gap: 5px;
  overflow: hidden;
  align-items: center;
}

.markerName{
  grid-column: 1/4;
  grid-row: 1;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: medium;
  font-weight: lighter;
}

/* for screens smaller than width = 520px */
@media (max-width: 520px) {
  h1 {
    font-size: 1.3rem;
  }

  /* infoWindow */

  .imgWrapper{
    height: 240px;
    width: 170px;
    display: grid;
    grid-template-columns: 80px 80px;
    grid-template-rows:  40px 80px 80px 80px;
    grid-gap: 5px;
    overflow: hidden;
    align-items: center;
  }

  .markerName{
    grid-column: 1/3;
  }
}
/* for screens smaller than width = 380px */
@media (max-width: 380px) {
  h1 {
    font-size: 1.3rem;
  }

  img {
    height: 80px;
    width: 80px;
    object-fit: fill;
    overflow: visible;
  }
  
  img:hover{
    border: 2px solid rgb(34, 147, 94);
  } 

  .imgWrapper{
    height: 200px;
    width: 100px;
    display: grid;
    grid-template-columns: 100px ;
    grid-template-rows:  60px 80px 80px 80px 80px 80px 80px;
    grid-gap: 5px;
    overflow: scroll;
    align-items: center;
  }

  .markerName{
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: medium;
    font-weight: lighter;
  }
}

@media (max-height: 550px) {
  .googleMap{
    top: 43px !important;
  }
}